body {
    background-color: white;
}

.topBar {
    display: flex;
    font-family:  'Courier New', Courier, monospace;
    font-size: 300%;
    color: rgb(46, 178, 223);
    flex-direction: row;
    
    justify-content: space-evenly;
    background: rgb(9, 12, 24);
    text-decoration: underline;
    
    
}

.sideBar {
   font-size: 200%;
   position:fixed;
   width: 270px;
   height: 100%;
   background: rgb(238, 58, 58);
   padding: 30px 0;
   
}

.sideBar ul li {
    padding: 25px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    list-style: none;
}

.sideBar ul li:hover {
    color: yellowgreen;
}




img {
    width: 50%;
    height: 100%;
}