body {
    background-color: rgb(9, 12, 24);
}

.topBar {
    display: flex;
    font-family:  'Courier New', Courier, monospace;
    font-size: 350%;
    color: rgb(46, 178, 223);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: rgb(9, 12, 24);
    text-decoration: overline;
    font-weight: bold;
    
}

.sideBar {
   font-size: 200%;
   position:fixed;
   width: 270px;
   height: 100%;
   background: rgb(9, 12, 24);
   padding: 30px 0;
   border-style:double;
   border-color: rgb(46, 178, 223);
   
}

.sideBar ul li {
    padding: 25px;
    color: rgb(46, 178, 223);
    border-bottom: 1px solid rgba(46, 178, 223, 0.4);
    border-top: 1px solid rgba(46, 178, 223, 0.4);
    list-style: none;
}

.sideBar ul li:hover {
    color: salmon;
}




img {
    width: 50%;
    height: 100%;
}